@font-face {
  font-family: 'Star Jedi';
  src: url('/fonts/starjedi.ttf') format('truetype');
}

body {
  font-family: 'Exo 2', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #222;
  min-height: 100vh;
}

html,
body,
#root {
  display: flex;
  flex: 1;
}
